.modal{

    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 666;
    background: rgba(34, 34, 34, 0.9);

    align-items: center;
    justify-content: center;

    &.active{
        display: flex;
    }

    .modal-container{

        display: block;
        align-items: normal;
        justify-content: normal;
        background: #fff;
        width: 60%;
        max-height: 85vh;
        overflow-y: auto;
        min-height: 200px;
        max-width: 90vw;
        border-radius: 2px;
        -moz-box-shadow: 0 0 10px #000;
        -webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 30px #111;
        position: relative;

        .modal-body{
            position: relative;
            padding: 2rem;
            .close{
                cursor: pointer;
                position: absolute;
                right:10px;
                top:7px;
                color: #999;
                font-size: 30px;
                &:hover{
                    color:var(--danger);

                }
                &:active{
                    color: var(--error);
                }
            }
        }
    }
}
