html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:#efefef;
    background-attachment: fixed;
    background-size: cover;
}

#__nuxt {
    height: 100%;
    #__layout {
        height: 100%;
        .bookmarker{
            height: 100%;
            width: 80%;
            margin: 0 auto;
        }
    }
}
.settings{
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    &:hover{
        background: rgba(0, 0, 0, 0.2);
    }
    i{
        color:#fff;
        font-size: 30px;
        text-shadow: 2px 2px 4px #000;
    }
}

.bookmarks{
    .bookmark{
        background: rgba(0, 0, 0, 0.05);
        position: relative;
        &:hover{
            background: rgba(0, 0, 0, 0.2);
        }
        .edit-bookmark, .re-order-bookmark{
            padding: 5px 10px;
            position: absolute;
            right:0px;
            top:0px;
            color:#fff;
            cursor: pointer;
            font-size: 13px;
            i{
                text-shadow: 2px 2px 4px #000;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.05);
            }
            &:active{
                background: rgba(0, 0, 0, 0.2);
            }
        }
        .re-order-bookmark{
            top:auto;
            bottom: 0px;
            cursor: grab;
            z-index: 1;
            &:active{
                cursor: grabbing;
            }
        }
        .link{
            position: relative;
            z-index: 2;
            a{
                display: block;
                padding:5px 10px;
                color:#fff;
                span{
                    display: block;
                    margin-bottom: 10px;
                    &.icon{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background: #fff;
                        overflow: hidden;
                        img{
                            max-width: 80%;
                        }
                    }
                }
            }
        }
    }
}
.grid{


    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        grid-auto-rows: 1fr;
    }

    .grid-item{
        margin:0px 5px 5px 0px;
        height: 120px;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        position: relative;
    }
}
